<footer>
    <div class="f_info">
      <div class="f_social_info">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
      <div class="f_info_brand">&copy; Wanderlust Private Limited</div>
      <div class="f_info_links">
        <a href="/privacy"> Privacy</a>
        <a href="/terms">Terms</a>
      </div>

    </div>
</footer>